// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@import 'color-palette';

@function fade($c) {
  @return mix($c, $gruv_black_1, 50%);
}

// Foreground colors
$dark_fg_color:   rgba($gruv_black_0, 0.87);
$light_fg_color:  $gruv_white_0;
$button_fg_color: if($variant == 'light', rgba($gruv_black_0, 0.62), rgba($gruv_white_0, 0.8)); // extra fg color for raised buttons

$fg_color:                    if($variant == 'light', rgba($gruv_black_0, 0.87), $gruv_white_0);
$secondary_fg_color:          if($variant == 'light', rgba($gruv_black_0, 0.54), rgba($gruv_white_0, 0.7));
$hint_fg_color:               if($variant == 'light', rgba($gruv_black_0, 0.38), rgba($gruv_white_0, 0.5));
$disabled_fg_color:           if($variant == 'light', rgba($gruv_black_0, 0.38), rgba($gruv_white_0, 0.5));
$disabled_secondary_fg_color: if($variant == 'light', rgba($gruv_black_0, 0.26), rgba($gruv_white_0, 0.3));
$track_color:                 if($variant == 'light', rgba($gruv_black_0, 0.26), rgba($gruv_white_0, 0.3));
$divider_color:               if($variant == 'light', rgba($gruv_black_0, 0.12), rgba($gruv_white_0, 0.12));

$titlebar_fg_color:                    if($titlebar == 'light', rgba($gruv_black_0, 0.87), $gruv_white_0);
$titlebar_secondary_fg_color:          if($titlebar == 'light', rgba($gruv_black_0, 0.54), rgba($gruv_white_0, 0.7));
$titlebar_hint_fg_color:               if($titlebar == 'light', rgba($gruv_black_0, 0.38), rgba($gruv_white_0, 0.5));
$titlebar_disabled_fg_color:           if($titlebar == 'light', rgba($gruv_black_0, 0.38), rgba($gruv_white_0, 0.5));
$titlebar_disabled_secondary_fg_color: if($titlebar == 'light', rgba($gruv_black_0, 0.26), rgba($gruv_white_0, 0.3));
$titlebar_track_color:                 if($titlebar == 'light', rgba($gruv_black_0, 0.26), rgba($gruv_white_0, 0.3));
$titlebar_divider_color:               if($titlebar == 'light', rgba($gruv_black_0, 0.12), rgba($gruv_white_0, 0.12));

$inverse_fg_color:                    $gruv_white_0;
$inverse_secondary_fg_color:          rgba($gruv_white_0, 0.7);
$inverse_hint_fg_color:               rgba($gruv_white_0, 0.5);
$inverse_disabled_fg_color:           rgba($gruv_white_0, 0.5);
$inverse_disabled_secondary_fg_color: rgba($gruv_white_0, 0.3);
$inverse_track_color:                 rgba($gruv_white_0, 0.3);
$inverse_divider_color:               rgba($gruv_white_0, 0.12);

// Background colors
$base_color:     if($variant == 'light', $gruv_white_2,  fade($gruv_black_1));
$alt_base_color: if($variant == 'light', $gruv_white_3, fade($gruv_black_2));

$bg_color:         rgba($gruv_black_0, $middle_opacity);
$alt_bg_color:     rgba($gruv_black_0, $lower_opacity);
$inverse_bg_color: rgba($inverse_fg_color, 0.1);
$panel_bg_color:   if($titlebar == 'dark', $gruv_black_0, $bg_color);

// Misc colors
$primary_color:     $gruv_blue_1;
$alt_primary_color: $gruv_aqua_1;
$accent_color:      $gruv_blue_1;

$link_color:         $primary_color;
$visited_link_color: $gruv_purple_1;

$warning_color: $gruv_orange_1;
$error_color:   $gruv_orange_2;
$success_color: $gruv_green_1;

$suggested_color:   $accent_color;
$destructive_color: $gruv_red_1;

$info_bg_color:     $gruv_green_1;
$question_bg_color: $gruv_green_1;
$warning_bg_color:  $gruv_orange_1;
$error_bg_color:    $gruv_red_1;

$border_color:        if($variant == 'light', rgba($gruv_black_0, 0.12), rgba($gruv_black_0, 0.26));
$highlight_color:     if($variant == 'light', rgba($gruv_white_0, 0.4),  rgba($gruv_black_0, 0.1));
$alt_highlight_color: rgba($gruv_white_0, 0.2);
